## IDEA
###############################
/.buildpath
/.cache
/.metadata
/.project
/.settings
/.vscode
atlassian*
/nbproject
/.idea
/.gitattributes

## OS
###############################
.DS_Store
Thumbs.db